*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* stile tag */
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 14px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 12px; 
    margin: 30px 0px 20px 0px ;
}
p{
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
#freccia{
    border: none;
    padding: 5px 14px;
    background-color: rgb(116, 203, 243);
    font-size: 30px;
    
    
}
hr{
    color: gray;
}
li{
    margin-bottom: 10px;
}
.fa-check{
    color: rgb(0, 145, 255);
}
img{
    max-width: 100%;
}

/* header */
.menù{
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug
    background-color: white;
    border: solid black 1px; */
}
.bottone{
    background-color: rgb(3, 62, 241);
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px 14px;
}
.menùsx{
    width: calc(100%/2);
    /* border: solid black 1px; */
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: left;
}
.menùdx{
    width: calc(100%/2);
    /* border: solid black 1px; */
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: right;
}
.listmain{
    margin: 20px;
    font-size: 16px;
    color: gray;
}
.boxazzurro{
    max-width: 100%;
    height: 500px;
    background-color: rgb(116, 203, 243);
    padding: 50px;
    position: relative;
}
.titolone{
    max-width: 100%;
    text-align:center;
    margin-left: 200px;
    width: 700px;

}
.boxazzurro2{
    max-width: 100%;
    margin: 0px 100px 100px 100px;
    display: flex;
    padding: 20px;
}
.listazzurro{
    word-wrap: wrap;
    max-width: 100%;
    text-align: left;
    width: 200px;
    margin-left: 100px;
    margin-top: -30px;
}
.list{
    margin-bottom: 20px;
    margin-top: 20px;

}
.jumbo{
    width: 50%;
    position: absolute;
    top: 40%;
    right: 10%;
}
#jumbo{
    max-width: 100%;
}

/* main */
.businesscontein{
    max-width: 100%;
    
}
.titolone2{
    margin-top: 100px;
    margin-left: 280px;
}
.businessbox{
    margin: 50px 280px 10px 280px;
    display: flex;
    justify-content: center;
}
.businesscol{
    width: calc(100%/3);
    border: solid gray 1px;
    margin:10px;
    padding:  10px 20px 20px 20px;
    word-wrap: wrap;
}
.titolocol{
    text-align: center;
    margin-bottom: 10px;

}
.categoria{
    margin: 20px 0px 5px 0px;
}
.listcol{
    margin-top: 30px;
    margin-bottom: 30px
}
.bottonecol{
    margin-bottom: 30px;
}
.acquistaora{
    margin: 30px 0px 30px 0px;
}
.linea2{
    width: 20%;
}
.businessteam{
    border: solid gray 1px;
    margin: 10px 280px 100px 280px;
    padding:  10px 20px 20px 20px;
    word-wrap: wrap;
}
.boxteam{
    margin-top: 20px;
}
.titoloteam{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 380px 5px 0px;
}
.contain{
    max-width: 100%;
    display: flex;
    padding: 30px 280px 0px 280px;
}
.fototesto{
    width: calc(100%/2);
    word-wrap: wrap;
    padding: 10px;
}
.fototesto1{
    width: calc(100%/2);
    word-wrap: wrap;
    padding:45px;
}
.fototesto1 p{
    margin: 15px 0px 0px 0px;
}
.bottonechiaro{
    border: none;
    background-color: white;
    color: gray;
    border: solid gray 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px 14px; 
    margin: 15px 0px 0px 0px;
}