*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* stile tag */
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 14px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 12px; 
    margin: 30px 0px 20px 0px ;
}
p{
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
#freccia{
    border: none;
    padding: 5px 14px;
    background-color: rgb(116, 203, 243);
    font-size: 30px;
    
    
}
hr{
    color: gray;
}
li{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.fa-check{
    color: rgb(0, 145, 255);
}
img{
    max-width: 100%;
}
.contain{
    max-width: 100%;
    display: flex;
    padding: 30px 280px 0px 280px;
}

/* header */

/* barra di navigazione */
.menù{
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug
    background-color: white;
    border: solid black 1px; */
}
.bottone{
    background-color: rgb(3, 62, 241);
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px 14px;
}
.menùsx{
    width: calc(100%/2);
    /* border: solid black 1px; */
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: left;
}
.menùdx{
    width: calc(100%/2);
    /* border: solid black 1px; */
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: right;
}
.listmain{
    margin: 20px;
    font-size: 16px;
    color: gray;
}

/*  box jumbo */
.boxazzurro{
    max-width: 100%;
    height: 500px;
    background-color: rgb(116, 203, 243);
    padding: 50px;
    position: relative;
}
.titolone{
    max-width: 100%;
    text-align:center;
    margin-left: 200px;
    width: 700px;

}
.boxazzurro2{
    max-width: 100%;
    margin: 0px 100px 100px 100px;
    display: flex;
    padding: 20px;
}
.listazzurro{
    word-wrap: wrap;
    max-width: 100%;
    text-align: left;
    width: 200px;
    margin-left: 100px;
    margin-top: -30px;
}
.list{
    margin-bottom: 20px;
    margin-top: 20px;

}
.jumbo{
    width: 50%;
    position: absolute;
    top: 40%;
    right: 10%;
}
#jumbo{
    max-width: 100%;
}

/* main */

/* piani di abbonamneto */
.businesscontein{
    max-width: 100%;
    
}
.titolone2{
    margin-top: 100px;
    margin-left: 280px;
}
.businessbox{
    margin: 50px 280px 10px 280px;
    display: flex;
    justify-content: center;
}
.businesscol{
    width: calc(100%/3);
    border: solid gray 1px;
    margin:10px;
    padding:  10px 20px 20px 20px;
    word-wrap: wrap;
}
.titolocol{
    text-align: center;
    margin-bottom: 10px;

}
.categoria{
    margin: 20px 0px 5px 0px;
}
.listcol{
    margin-top: 30px;
    margin-bottom: 30px
}
.bottonecol{
    margin-bottom: 30px;
}
.acquistaora{
    margin: 30px 0px 30px 0px;
}
.linea2{
    width: 20%;
}
.businessteam{
    border: solid gray 1px;
    margin: 10px 280px 100px 280px;
    padding:  10px 20px 20px 20px;
    word-wrap: wrap;
}
.boxteam{
    margin-top: 20px;
}
.titoloteam{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 380px 5px 0px;
}
i{
    display: inline;
    color: gray;
}

/* foto pù testo */

.fototesto{
    width: calc(100%/2);
    word-wrap: wrap;
    padding: 10px;
}
.fototesto1{
    width: calc(100%/2);
    word-wrap: wrap;
    padding:45px;
}
.fototesto1 p{
    margin: 15px 0px 0px 0px;
}
.bottonechiaro{
    border: none;
    background-color: white;
    color: gray;
    border: solid gray 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px 14px; 
    margin: 15px 0px 0px 0px;
}
.col{
    width: calc(100%/3);
    word-wrap: wrap;
    padding: 15px;
}
.coltext{
    text-align:left;
}

.coltext h3{
    margin-bottom: 10px;
}

/* scopridi più */
#scopridipiù{
    display: block;
    margin-top: 30px;
}
#scopridipiù h1{
    font-size: 30px;
    margin-bottom: 30px;
}

/* partners */

.containpartner{
    display: flex;
    margin-top: 150px;
    max-width: 100%;
    max-height: 200px;

}
.partners{
    width: calc(100%/3);

}

.loghipartner{
    display: flex;
    height: 180px;

}
.logo{
   padding: 60px;
   display: flex;
   align-items: center;
}
.logopartner{
    max-width: 100%;
}

/* stili loghi */
#designit{
    background-color: rgb(115, 210, 134);
}
#asu{
    background-color: rgb(90, 12, 12);
}
#florida{
    background-color: rgb(11, 150, 224);
}
#topps{
    background-color: rgb(249, 0, 0);
    width: 75%;
}
#bicycle{
    background-color: rgb(172, 15, 15);
}
#hearst{
    background-color: rgb(116, 203, 243);
}
#lonely{
    background-color:rgb(32, 4, 246);
    width: 80%;
  
}
#clear{
    background-color: rgb(244, 244, 81);
    width: 80%;
   
}
/* descrizione partner */
.description{
    padding: 35px;
    background-color: rgb(239, 234, 234);
}
#descriptionlogo{
    width: 50%;
    margin-bottom: 30px;
}
.description hr{
    width: 20%;
    margin-bottom: 30px;
}
#nomelead{
    margin: 50px 0px 0px 0px;
}
/* porta dropbox */

.portadropbox{
    background-color:rgb(116, 203, 243) ;
    display: flex;
    margin-top: 150px;
    max-width: 100%;
    padding: 100px 280px;
}
.portadropbox h1{
    font-size: 30px;
}

.portadropbox button{
    border: none;
    background-color: white;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    margin-left: 150px;
    margin-top: 10px;
}
/* faq */
.faq{
    max-width: 100%;
    padding: 100px 280px;
}
.faq h1{
    font-size: 30px;
}
.faq hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.faq li{
    font-size: 12px;
}
/* footer */
.navend{
    max-width: 100%;
    padding: 100px 280px;
    background-color:black;
    display: flex;
}
.endlist{
    width: calc(100%/5);
    padding: 10px;
}
.endlist h3{
    color: white;
    font-size: 20px;
    
}
.endlist li{
    color: white;
    margin-top: 15px;
    font-size: 10px;
}
.endlist hr{
    color: white;
    width: 80%;
    margin-top: 60px;
}
.endlist i{
    margin-right: 5px;
    color: white;
}

